* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px);
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("../statosskyeng-v1.001/WebFonts/stratosskyengweb-regular.woff2") format("woff2"), url("../statosskyeng-v1.001/WebFonts/stratosskyengweb-regular.woff") format("woff");
}
body {
  background-color: #004980;
  display: flex;
  justify-content: center;
  font-family: "StratosSkyeng";
}

.level-box {
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 158px;
}
.level-box__title {
  width: 208px;
  height: 96px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #004980;
  padding-top: 52px;
  padding-bottom: 48px;
}
.level-box__number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.level-box__number_style {
  width: 97px;
  height: 98px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080c1;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.change {
  border: 1px solid #7ac100;
  color: #7ac100;
}

.button {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  width: 246px;
  height: 48px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: 50px;
}

.cards-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}
.cards-box__item {
  position: relative;
  cursor: pointer;
}

.time-box__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: -14px;
  margin-left: 40px;
}
.time-box__name_min {
  width: 28px;
  height: 32px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.time-box__name_sec {
  width: 28px;
  height: 32px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}
.time-box__timer {
  display: flex;
  justify-content: space-between;
}
.time-box__timer_min {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  width: 80px;
  height: 72px;
}
.time-box__timer_sec {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  width: 70px;
  height: 72px;
}

.end-game-box {
  position: absolute;
  width: 480px;
  height: 459px;
  left: 34vw;
  top: 22vh;
  background: #c2f5ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.end-game-box__win-image {
  height: 96px;
  width: 96px;
  margin-top: 30px;
  margin-bottom: 5px;
  background-image: url(../img/win.png);
}
.end-game-box__lose-image {
  height: 90px;
  width: 90px;
  margin-top: 30px;
  margin-bottom: 5px;
  background-image: url(../img/lose.png);
}
.end-game-box__passed {
  width: 230px;
  height: 32px;
  left: 397px;
  top: 365px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-bottom: 10px;
}
.end-game-box__title {
  padding-top: 0;
  padding-bottom: 28px;
  width: 208px;
  height: 96px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #004980;
}
.end-game-box__button {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  width: 246px;
  height: 48px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: 30px;
}
.end-game-box__time-info {
  width: 155px;
  height: 72px;
  left: 435px;
  top: 407px;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #000000;
  padding-bottom: 20px;
}

.cardsBoxWin {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
}

.card3 {
  width: 95px;
  height: 133px;
  grid-column: span 4;
}

.card6 {
  width: 95px;
  height: 133px;
  grid-column: span 3;
}

.card9 {
  width: 95px;
  height: 133px;
  grid-column: span 2;
}

.card36 {
  width: 95px;
  height: 133px;
  grid-column: span 1.5;
}

.image {
  position: absolute;
  left: 20px;
}

.shirt {
  width: 95px;
  height: 133px;
  position: absolute;
  left: 21px;
  background-image: url(../img/shirt.png);
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 365px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.buttonNewStart {
  margin-top: 24px;
}

.container {
  position: relative;
}

.hiddenBox {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #004980;
  opacity: 0.9;
}/*# sourceMappingURL=style.css.map */